{% extends 'planner/base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container">
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="boarder-bottomm mb-4">Join Today!</legend>
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-outline-info" type="submit">Sign Up</button>
		</div>
	</form>
	<div class="boarder-top pt-3">
		<small class="text-muted">
			Alredy have an account?<a class="ml-2" href="{% url 'login' %}">Sign in</a>
		</small>
	</div>
</div>

{% endblock %}